<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- This is the appID for the English Version of LUIS Model -->
    <add key="luisAppID" value="CHANGE_ME" />
    <!-- This is the appID for the Chinese Version of LUIS Model -->
    <add key="luisAppIDChinese" value="CHANGE_ME" />
    <!-- This is the key of the LUIS API Cognitive services account that you want to be charged, this will be under Cognitive Services in your subscription -->
    <add key="luisAPIAccountKey" value="CHANGE_ME" />
    <!-- This is the primary key of the Speech API Cognitive services account that you want to be charged, this will be under Cognitive Services in your subscription -->
    <add key="speechAPIAccountKey" value="CHANGE_ME" />
    <!-- This is the secondary key of the Speech API Cognitive services account that you want to be charged, this will be under Cognitive Services in your subscription -->
    <add key="speechAPISecondaryAccountKey" value="CHANGE_ME" />
    <!-- Azure SQL Connection String, you can get it from portal.azure.com -->
    <add key="dbConnectionString" value="CHANGE_ME"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>